#first-glance
{
    display: inline;
    float: right;
}

#average
{
    display: inline;
}

#tags li
{
    display: inline;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
}

#tags li[toggled=false]
{
    color: black;
    background-color: #eeeeee;
}

#tags li[toggled=true]
{
    color: white;
    background-color: black;
}

ul.tags
{
    display: inline;
    float:   right;
}

ul.tags li
{
    display: inline;
    border-radius: 25px;
    padding: 5px;
}

#tags ul.tag li
{
    cursor: pointer;
}

#browser
{
    width: 33%;
}

#browser li
{
    margin-bottom: 12px;
}

.task
{
    cursor: pointer;
}

.task[is-habit=true]
{
    text-decoration: underline;
}

.task[is-selected=true]
{
    font-weight: bold;
}

.task[is-selected=false]
{
    font-weight: normal;
}

#calendar
{
    float:right;
}

.calendar-year
{
    font-weight: bold;
    text-anchor: end;
}

.calendar-weekday
{

}

.calendar-month
{

}

.calendar-day
{

}