body[visibility=soft]
{
    overflow: hidden;
}

.modal-container[visibility=false]
{
    display: none;
}

.modal-container[visibility=true]
{
    display:block;
}

#help-container
{
    z-index: 1;

    left: 0;
    top: 0;
}

#license-container
{
    z-index: 1;

    position: fixed;
    left: 0;
    top: 0;

    padding-top: 120px;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
}

#license-content
{
    text-align: center;
    overflow: auto;

    background-color: white;

    margin: auto;

    height: 80%;
    width: 60%;
}

#content[visibility=hidden]
{
    visibility: hidden;
}

#config
{
    display: flex;
    justify-content: space-between;
}

#config #misc a
{
    text-decoration: none;
    cursor: default;
}

#config #misc #color
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: default;
}

#config #misc input[visibility=none]
{
    display: none;
}

#pace
{
    cursor: text;
}

#config #day-pace
{
    width: 50px;
}

#config #first-glance
{
    cursor: default;
}

#select
{
    text-align: center;
}

#day
{
    text-align: center;
}

#headlines
{
    float: left;
    width: 40%;
}

#headlines .folder
{
    cursor: pointer;
}

#tags g,
.headline
{
    cursor: pointer;
}

.headline[is-habit=true]
{
    text-decoration: underline;
}

.headline[is-selected=true]
{
    font-weight: bold;
}

.headline[is-selected=false]
{
    font-weight: normal;
}

.total
{
    text-align: right;
}

#calendar
{
    float: right;
    width: 60%;
}

.calendar-year
{
    text-anchor: end;
}